{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="fp">
<div class="container form">
  <h1 class="tr">PACKAGES</h1>
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6 shadow-lg p-3 mb-5 bg-white rounded">
  <form class="form-group" action="" method="POST">
    {% csrf_token %}
    {{form.as_p}}
    <button class="btn btn-primary">SEARCH</button>
  </form></div>
  <div class="col-md-3"></div>
</div>
</div>
{% comment %} <div class="fo shadow-lg p-5 rounded">
  <p class="fot">Your Flight Options</p>
{% for k in allflights %}
<p><ion-icon name="airplane-outline"></ion-icon>&nbsp&nbsp&nbsp{{k.flight_num}}</p>
{% endfor %}
</div>
<div class="ho shadow-lg p-5 rounded">
  <p class="hot">Your Hotels Options</p>
  {% for l in allhotels %}
  <p ><ion-icon name="bed-outline"></ion-icon>&nbsp&nbsp&nbsp{{l.hotel_name}}</p>
  {% endfor %}
</div>
</div>

<br><br><br><br><br><br><br>
<h1 class="t">&nbsp&nbspFLIGHT</h1>
  <br><br>
{% for i in Flights %}

{% if flavailability == "available" %}
<div class="container">
    <h1 class="hhh">BOOK</h1>
  <div class="ticket shadow-lg p-3 mb-5">
    <div class="row bg1">
      <h3>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp{{ i.company }}-</h3><h4>{{i.flight_num}}</h4>
    </div>
    <div class="row bg1">
      <p class="seatrem">Availability: {{seatrem}}</p>
    <p class="from">FROM: <br>{{ i.source }} </p>
    <p class="to">TO:<br>{{i.destination}}</p>
    <p class="dept">DEPT TIME:<br> {{ i.dept_time}}</p>
    <p class="dest">DEST TIME: <br>{{ i.dest_time}}</p>
    <p class="eprice">{{pricef}}*</p>
    </div>
  </div>
</div>
{% endif %}
{% if flavailability == "unavailable" %}
<div class="container">
    <h1 class="hhhh">BOOKED</h1>
  <div class="ticket shadow-lg p-3 mb-5">
    <div class="row bg2">
      <h3>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp{{ i.company }}-</h3><h4>{{i.flight_num}}</h4>
    </div>
    <div class="row bg1">
      <p class="seatrem">Availability: {{seatrem}}</p>
    <p class="from">FROM: <br>{{ i.source }} </p>
    <p class="to">TO:<br>{{i.destination}}</p>
    <p class="dept">DEPT TIME:<br> {{ i.dept_time}}</p>
    <p class="dest">DEST TIME: <br>{{ i.dest_time}}</p>
    <p class="eprice">{{pricef}}*</p>
    </div>
  </div>
</div>
{% endif %}
{% endfor %}
<br><br><br><br>

{% endcomment %}
<h1 class="t">&nbsp&nbsp&nbspPackage</h1>
{% for j in Package %}

<div class="hotel">
  <div class="container">
    <div class="row">
    {% comment %} {% if havailability == "available" %} {% endcomment %}
    <div class=" shadow-lg mt-5 mb-5 rounded">
        <img src="{% static "images/sapanca.jpg" %}"alt="">
    </div>
    <div class=" col-6  shadow-lg mt-5 mb-5 rounded">
        <p class="roomremu">Bulunan Paketi : {{j.title}}</p>
        <p class="h-name"></p>
        <p class="h-price">Toplam Fiyat: {{ price }} TL</p>
        {% comment %} <p class="h-am">{{ j.amenities}}</p> {% endcomment %}
    </div>
    {% comment %} {% endif %} {% endcomment %}
  </div>
  </div>

{% endfor %}<br>

{% for i in Package %}
<div  style="margin: auto;
text-align: center;
display: flex;
justify-content: center;
height: 36px;">
    <a class="btn btn-primary" href="/packagebook/{{ i.title }}/{{ startdate }}/{{ amount }}/{{price}}/{{note}}">RESERVAZYON YAP</a>
    <br><br>&nbsp&nbsp&nbsp&nbsp&nbsp<a href="{{request.META.HTTP_REFERER}}" class="btn btn-primary">Go back</a>

</div>
{% endfor %}

<br><br><br> 
{% endblock %}
